@using Microsoft.AspNetCore.Identity;

@using AutoPartsShop.Data.Models;
@using AutoPartsShop.Services.Data.Interfaces;
@using AutoPartsShop.Web.ViewModels.Vehicle;

@model ICollection<PartViewModel>

@inject UserManager<ApplicationUser> UserManager
@inject ISellerService SellerService
@{
    ViewData["Title"] = "Company's Part";
}

<style>
    body {
        background-image: url("https://static.vecteezy.com/system/resources/previews/007/100/608/non_2x/abstract-geometric-white-and-gray-on-light-silver-gradient-background-modern-banner-design-illustration-free-vector.jpg");
    }
</style>

<h2 style="margin-bottom: 3.5%;" class="text-center">Company's Part</h2>
<div class="container">
    <div class="row">
        @foreach (var part in Model)
        {
            <div class="col-md-3 mb-2">
                <div class="card">
                    <h3 class="card-title text-center">@part.Name</h3>
                    <img src="@part.ImageUrl" class="card-img-top" alt="Auto Part Image">
                    <div class="card-body">
                        <p class="card-text">Price: $@part.Price</p>
                        <a href="/Part/View/@part.Id" class="btn btn-secondary">View</a>
                        <a href="/Part/Edit/@part.Id" class="btn btn-primary">Edit</a>
                        @{
                            var user = await UserManager.GetUserAsync(User);
                            var userId = user.Id;
                            if (await SellerService.IsOwner(userId, part.CompanyId))
                            {
                                <a href="/Part/Delete/@part.Id" style="float:right;" class="btn btn-danger">Delete</a>
                            }
                        }

                    </div>
                </div>
            </div>
        }
    </div>
</div>