@model CompanyDeleteViewModel

@{
    ViewData["Title"] = "Delete company";
}

<style>
    body {
        background-image: url("https://static.vecteezy.com/system/resources/previews/007/100/608/non_2x/abstract-geometric-white-and-gray-on-light-silver-gradient-background-modern-banner-design-illustration-free-vector.jpg");
    }
</style>

<div class="container">
    <h1>Delete Company Confirmation</h1>
    <hr />
    <h2>Are you sure you want to delete your company: "<b>@Model.Name</b>"?</h2>
    <h3>Address: "@Model.Address"</h3>
    <h3>Employees count: @Model.EmployeeCount</h3>
    <form method="post" action="/Company/Delete/@Model.Id">
        <input type="hidden" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="/Company/Overview/@Model.Id" class="btn btn-secondary">Cancel</a>
    </form>
    <img class="img-fluid"  style="width: 35%;" src="https://pngimg.com/uploads/attention/attention_PNG60.png" />
</div>

