@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-image: url("https://wallpaperaccess.com/full/2056609.jpg");
        color: cadetblue;    
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">The best project ever made</h1>
</div>
